[Unit]
Description=Madek Auth Service
After=syslog.target
After=network.target

BindsTo=madek-datalayer.service
After=madek-datalayer.service
PartOf=madek-datalayer.service

StartLimitIntervalSec=180
StartLimitBurst=6


[Service]
WorkingDirectory={{madek_auth_dir}}
User={{madek_auth_user}}
Group={{madek_auth_user}}

Restart=on-failure
Restart=always
RestartSec=5

EnvironmentFile=/etc/madek/pg.env
Environment=TMPDIR={{madek_tmp_dir}}
Environment=HTTP_SERVER_PORT={{madek_auth_port}}
ExecStart=/usr/bin/env java "-Xmx{{ madek_auth_service_xmx }}m" \
  -jar madek-auth.jar server

[Install]
WantedBy=multi-user.target
WantedBy=madek-datalayer.service

# vi: ft=systemd
